body {
  background-color: rgb(249, 244, 244);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
#container {
  width: 100%;
  margin: auto;
}
#topImage {
  height: 220px;
  margin: auto;
}
#topImage > img {
  width: 100%;
}
#outLine {
  height: 3800px;
  width: 1200px;
  margin: auto;
}
#ProductHeading {
  text-align: center;
}
#bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#right {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.mainProductBox {
  border: 20px solid white;
  height: 400px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.productNameInBox {
  border: 5px solid white;
  font-size: 1rem;
  text-align: center;
}

.productPriceInsideBox {
  display: flex;
  border: 5px solid white;
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
  justify-content: center;
}
.productPriceInsideBox > :nth-child(n) {
  margin: 5px;
  color: grey;
}
.productPriceInsideBox > :nth-child(2) {
  text-decoration: line-through;
}
.productPriceInsideBox > :nth-child(3) {
  font-weight: bold;
  color: black;
}
.productPriceInsideBox > :nth-child(4) {
  font-weight: bold;
  color: green;
}

#left {
  width: auto;
  height: auto;
  position: sticky;
  top: 20px;
  /* height: 900px; */
}
#bottomIn {
  border-radius: 20px;
  background-color: #fc2779;
  width: 270px;
}
.sideButton {
  font-size: 18px;
  border: 1px solid rgb(230, 226, 226);
  padding: 20px 8px 20px 8px;
  display: flex;
  background-color: white;
}
/* // button  */
.addToCartBox {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
}
.mainProductBox:hover .addToCartBox {
  display: flex;
}
.addToCartBox > div > img {
  height: 26px;
  display: block;
  align-items: center;
  margin-top: 10px;
}
.addToCartBox > div {
  margin: auto;
  cursor: pointer;
  height: 50px;
}
.addToCartButton {
  background-color: #fc2779;
  width: 200px;
  text-align: center;
  align-items: center;
  font-size: 19px;
  color: white;
  font-weight: bold;
}
.addToCartButton:hover {
  color: white;
}
.addToCartButton > span {
  display: block;
  margin-top: 10px;
}
#pagination {
  height: 40px;
  /* background-color: black; */
  width: 100%;
}
