#outer_box{
    height: 550px;
    width: 400px;
    border: 1px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
    }
  
    input{
        outline: none;
        border: none;
    }
    #email{
        width: 90%;
        font-size: 15px;
        text-align: center;
        border-radius: 5px;
        /* padding: 8px 16px; */
    }
    #heading{
        text-align: center;
    }
    #checkout{
        /* height: 300px; */
        width: 100%;
        /* border: 1px solid green; */
    }
    #btn{ 
        /* height: 40px; */
        /* border: 1px solid blue; */
        /* margin-top: 180px;           */
        position: absolute;
        top: 60%;
        left: 30px;
        right: 30px;
    }
    #button{
        height: 100%;
        width: 100%;
        /* margin-left: 15px; */
        background-color: #fc2779;
        color: white;
        /* border-radius: 5px; */
        padding: 4% 2%;
        border: none;
        cursor: pointer;
        font-stretch:wider;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;    
    }
    #button a{
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        font-stretch:wider;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
    }
    #checkout>span{
        /* display: flex; */
        /* justify-content: end; */
        /* margin-top: -12px; */
        /* margin-right: 30px; */
        display: block;
        text-align: right;
        font-size: .7rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(86, 86, 86);
    }
    #innerBox{
        border: 30px solid white;
    }
    #close_page{
        font-size: 1.5rem;
        border: none;
        background-color: white;
        color: rgb(79, 78, 78);
        cursor: pointer;
    }

    #password_box{
        margin: auto;
        border: 1px solid #fc2779;
        padding: 3% 2%;
    }
  
    
    #email_box{
        /* height: 50px; */
        /* width: 80%; */
        margin: auto;
        /* margin-top: 30px;  */
        border: 1px solid #fc2779;
        padding: 2% 1%;
    }
    #welcomeMsg{
        padding-top: 4%;
        padding-bottom: 10%;
    }
