{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#outer_box{
    height: 550px;
    width: 25%;
    border: 1px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    }
    #email_box{
        height: 50px;
        width: 80%;
        margin: auto;
        margin-top: 10px;             
    }
    #email{
        width: 90%;
        font-size: 15px;
        text-align: center;
        border-radius: 5px;
        padding: 8px 16px;
        background-color: rgb(231, 219, 219);
        border: 0px;
    }
    #heading{
        text-align: center;
    }
    #checkout{
        height: 350px;
        width: 100%;
        /* border: 1px solid green; */
    }
    p{
        text-align: center;
        padding-right: 10px;
        
    }
    #password_box{
        height: 50px;
        width: 80%;
        margin: auto;
        margin-top: 10px; 
        border: 1px solid red;
    }
    #btn{
        height: 40px;
        /* border: 1px solid blue; */
        margin-top: 70px;          
    }
    #button{
        font-size: 25px;
        height: 100%;
        width: 90%;
        margin-left: 15px;
        background-color: #fc2779;
        color: white;
        border-radius: 5px;
    }
    #email_box+p{
        display: flex;
        justify-content: end;
        margin-top: -12px;
        margin-right: 30px;
    }
   #email_box>input{
background-color: white;
   }