.mainDivNavTitle {
  color: rgb(78, 78, 78);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#mainDivMainNav {
  margin: auto;
  display: flex;
    
}
#regularNavThree{
    position: relative;
}
.mainDivElemZeroBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 500px;
  justify-content: space-around;
  position: absolute;
  left: 2px;
  right: 0px;
  display: none;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(241, 241, 241);
  padding: 2px;
}
.mainDivNavTitle:hover{
  color: #fc2779;
}

.insideBoxDiv {
  display: grid;
  grid-template-columns: 1fr;
  border: 4px solid white;
  
}

span {
  display: block;
  font-weight: bold;
  color: black;
  padding-bottom: 2px;
  /* border: 1px solid white; */
}

.listItemsNav {
  font-weight: normal;
  color: grey;
  font-size: 1rem;
  border: 2px solid white;
}
.listItemsNav:hover{
  background-color: rgb(248, 199, 207);
  color: white;
  padding: 2px;
}

.mainDivNavTitle:hover .mainDivElemZeroBox {
  display: grid;
}

#offerDiv {
  background-image: url("https://adn-static1.nykaa.com/media/wysiwyg/HeaderIcons/menusprite.png");
  background-size:auto;
  background-size: 300%;
  /* background-position: 90px; */
  background-position-x: 97%;
  background-position-y: -50%;
  height: 50%;

}
#NykaaLogo {
    background-image: url("https://adn-static1.nykaa.com/media/wysiwyg/HeaderIcons/menusprite.png");
    background-size:auto;
    background-size: 300%;
    /* background-position: 90px; */
    background-position-x: 97%;
    background-position-y: 6%;
    /* height: 50%; */
  
  }
