#payment-method {
    width: 18%;
    position: fixed;
    left: 14%;
    top: 120px;
    /* margin-top: 100px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  #payment-method > button {
    background-color: transparent;
    border: 0;
    border-bottom: 1px lightgrey solid;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: left;
    padding: 5px 5px 0px 10px;
  }




  #cardDetails{
      width: 85%;
      padding: 10px;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      
  }

  #cardDetails input{
      height: 30px;
      border: 0;
      border-bottom: 1px grey solid;
  }

  #cardNumber{
      width: 90%;
  }

  #main{
      display: grid;
      grid-template-columns: 65% 35%;
      margin-bottom: 10px;
      justify-content: space-around;
  }

  #expiry{
      display: flex;  
      align-items: center;
  }

  #expiry>input{
      width: 25%;
  }

  #cvv{
      margin-left: 5px;
  }

  #note{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
  }

  #note>img{
      width: 40px;
      height: 40px;
  }

  #note>p{
      text-align: left;
  }

  #main+div{
      display: flex;
      font-size: 18px;
      height: 30px;
      align-items: center;
      margin-bottom: 10px;
  }

  #main+div>button{
      height: 100%;
      width: 30px;
      margin-right: 10px;
  }

  #pay{
      width: 100%;
      height: 50px;
      background-color:#fc2779;
      color: white;
      margin: auto;
      border: 0;
      font-size: 20px;
      padding: 10px;
      
  }

  #orderInfo{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-left: -20px;
    padding: 10px;
    

  }

  #finalAddress{
      width: 90%;
      margin: auto;
      border-bottom: lightgrey 1px solid;
      border-top: lightgrey 1px solid;
  }

  #giftDiv>input{
      width: 100%;
      margin-top: 15px;
      border-bottom: 1px solid rgb(216, 216, 216);
      padding: 10px 0px 10px 0px;
      font-size: 20px;
  }

  #giftDiv{
      margin-bottom: 15px;
  }

  @media  all and (min-width:451px) and (max-width:750px){
    #payment-method {
   width: 100%;
   position: static;
   margin-top: 170px;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 }

 }


 @media  all and (min-width:200px) and (max-width:450px){
#payment-method {
width: 100%;
position: static;
margin-top: 250px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
 rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

}
