.topSliderIn {
  width: 80%;
  height: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  /* overflow: hidden; */
}
.imageBoxSlider {
  /* width: 10%; */
  text-align: center;
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  animation-delay: 50ms;
  animation-duration: 5ms;
}
.sliderDescription {
  font-size: 1.1rem;
}
.imageInsideSlider {
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .imageInsideSlider {
    width: 100%;
  }
}
#imageWindowTopSlider {
  /* height: fit-content; */
  margin: auto;
  border: 5px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}
.button1Slider {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgb(92, 92, 92);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  align-self: center;
  /* padding: 10px 20px; */
  padding: 1% 1.5%;
  background-color: rgb(252, 246, 246);
}
#topSliderBtn1 {
  position: absolute;
  left: 5%;
  z-index: 12;
}
#topSliderBtn2 {
  position: absolute;
  right: 5%;
  z-index: 11;
}

/* //////// bank offer  */
#bankSliderBtn1 {
  position: absolute;
  left: 5%;
  z-index: 12;
}
#bankSliderBtn2 {
  position: absolute;
  right: 5%;
  z-index: 11;
}
#bankImageWindowTopSlider {
  height: fit-content;
  margin: auto;
  border: 5px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}

/* // lux slider  */

#luxSliderBtn1 {
  position: absolute;
  left: 5%;
  top: 40%;

  z-index: 12;
}
#luxSliderBtn2 {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 11;
}
#luxImageWindowTopSlider {
  height: fit-content;
  margin: auto;
  border: 5px solid #aadee9;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}
.sliderDescription2 {
  font-size: 1.05rem;
  color: rgb(109, 108, 108);
}
.sliderDescription1 {
  font-size: 1.1rem;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.imageBoxSliderLux {
  text-align: center;
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  animation-delay: 50ms;
  animation-duration: 5ms;
}

/* // influencer// */
/* #influencerSliderBtn1 {
    position: absolute;
    left: 5%;
    z-index: 12;
  }
  #influencerSliderBtn2 {
    position: absolute;
    right: 5%;
    z-index: 11;
  } */
#influencerImageWindowTopSlider {
  margin: auto;
  border: 5px solid #ff9a33;
  border-left: none;
  border-right: none;
  display: flex;
  /* justify-content: space-evenly; */
  background-color: #ff9a33;
}
.imageInsideSliderInfluencer {
  /* height: 100%; */
  width: 100%;
}
.imageBoxSliderInfluencer {
  width: 25%;
  /* text-align: center; */
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  /* animation-delay: 50ms;
  animation-duration: 5ms; */
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
}

/* onlly at nykaa  */
/* rest css on at lux  */

#onlyAtNykaaSliderIn {
  position: relative;
}
#onlyAtNykaaSliderBtn1 {
  position: absolute;
  left: 5%;
  top: 40%;

  z-index: 12;
}
#onlyAtNykaaSliderBtn2 {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 11;
}
#onlyAtNykaaWindowTopSlider {
  height: fit-content;
  margin: auto;
  border: 5px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}
/* // new at nykaa  */
#newAtNykaaSliderIn {
  position: relative;
}
#newAtNykaaSliderBtn1 {
  position: absolute;
  left: 5%;
  top: 40%;

  z-index: 12;
}
#newAtNykaaSliderBtn2 {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 11;
}
#newAtNykaaWindowTopSlider {
  height: fit-content;
  margin: auto;
  border: 5px solid #ffffcc;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}
/* // .topSliderIn  bottom*/
#bottombottomTopSliderIn {
  position: relative;
  width: 80%;
  background-color: white;
  margin: auto;
  overflow: hidden;
}
#bottomTopSlider {
  background-color: white;
}
#imagebottomTopSlider {
  height: fit-content;
  margin: auto;
  border: 5px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-evenly;
}
#bottomTopSliderBtn1 {
  position: absolute;
  left: 5%;
  top: 40%;
  z-index: 12;
}
#bottomTopSliderBtn2 {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 11;
}
