body {
    font-family: Arial, Helvetica, sans-serif;
  }
  #container {
    width: 1150px;
    height: 900px;
    margin: auto;
  }
  #topBox {
    height: 490px;
    width: 100%;
    display: flex;
  }
  #divOne {
    width: 430px;
    height: 100%;
}
#divOneIn {
    height: 97.4%;
    width: auto;
    border: 1px solid rgb(227, 227, 227);
}
/* // fav icon */
#favIcon {
    width: 100%;
    height: 10%;
    /* background-color: bisque; */
    text-align: right;
  }
  #favIconImg > img {
    width: 30px;
    cursor: pointer;
  }
  #favIconImg {
    margin-right: 10px;
    margin-top: 2px;
    border: 10px solid white;
  }

  #divOneSecondBox {
    display: flex;
    justify-content: space-around;
  }
  #thumnailBox {
    display: grid;
    grid-template-columns: 1fr;
    border: 10px solid red;
    grid-gap: 5px;
  }
  .thumbNail {
    background-color: aqua;
    height: 50px;
    width: 50px;
  }
  #productImage {
    width: 300px;
    height: 300px;
    border: 5px solid red;
    margin-top: 10px;
  }
 #divOneSecondBox img {
     width: 100%;
 } 
#productImage{
    cursor: crosshair;
}
#zoomLayout{
    height: 500px;
    width: 500px;
    /* background-color: bisque; */
    background-size: cover;
    position: absolute;
    top:20px;
    right:350px;
    z-index: 111;
}

  /* // description  */
  #divTwo {
    width: 720px;
    height: 478px;
    border: 1px solid rgb(227, 227, 227);
    border-left: none;
    position: relative;

  }
  #divTwoOne {
    height: 52%;
    width: 100%;
    border: 10px solid white;
    border-bottom: 0px;
    
  }
  #divTowOneIn{
      border-left: 10px solid white;
  }
  #pieceCount{
      display: block;
      margin-top: 4px;
      font-size: 1.1rem;
  }
  #ratingAndAll{
      display: block;
      margin-top: 20px;
      font-size: 1rem;
  }
  #ratingAndAll>:nth-child(n){
      margin-right: 5px;
  }

  .productName{
    font-size: 1.35rem;
  }
  #priceDetail{
      margin-top: 15px;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.05rem;
      font-weight: 600;
  }
  #priceDetail:nth-child(n)
  {
      margin-right: 4px;
  }
  #MRP{
      color: rgb(103, 102, 102);
  }
  #actualPrice{
    color: rgb(103, 102, 102);
    text-decoration: line-through;
  }
  #offerPrice{
      font-size: 1.22rem;
      margin-right: 4px;
  }
  #discountPercentage{
      color: green;
  }
  /* // tax infor */
  #taxText{
      color: rgb(115, 114, 114);
  }
/* // list  */
#additionalInfo{
    /* height: auto; */
    width: 90%;
    color: rgb(55, 55, 55);
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    border: 10px solid rgb(227, 227, 227);
    border-top: 0px;
    margin: 0%;
    padding: 0%;
    padding: 2px;
   font-size: .9rem;

}
#viewMore{
   padding-left: 35px;
   padding-bottom: 5px;
   color:#fc2779;
   cursor: pointer;
   font-weight: bold;
   margin-top: -10px;
}
  /* // add to cart  */
  #divTwoTwo {
    height: 31%;
    width: 80%;
    border: 10px solid white;
    border-right: 0px;
    border-top: 0px;
  }
  #divTwoTwoIn {
    height: 99%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
  }
  #addToCart {
    background-color: #fc2779;
    padding: 15px 70px;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    
  }
  #verticalLine {
    border: 1px solid rgb(227, 227, 227);
    height: 70%;
  }
  #deliverCheck {
    margin-right: 20px;
    width: 40%;
    /* border: 30px solid white; */
  }
  #deliverCheck>div>span>img{
      height: 17px;
      opacity: .8;
  }
  #deliverCheck>div>span+span{
      font-stretch: semi-expanded;
      color: rgb(84, 83, 83);
      font-size: 1.05rem;
  }
  #deliverCheck>div{
      margin-bottom: 4px;
  }
  /* //pincode */
  #pincodeBox{
      border: 1px solid rgb(194, 194, 194);
      width: 280px;
     padding: 8px 12px;
      display: flex;
      justify-content: space-between;
  }
  #enterPincode{
      border: none;
      font-size: 1.01rem;
      outline: none;
  }
 
  #check{
      color: #fc2779;
      width: auto;
      font-weight: bold;
      font-size: .9rem;
  }
  /* // bottom three */
  #bottomDivTwo {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
    display: flex;
    background-color: rgb(231, 228, 228);
    height: 10%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(227, 227, 227);
  }
  #bottomDivTwo > div {
    border: 8px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #bottomDivTwo > div > span {
    display: block;
    color: rgb(78, 78, 78);
    margin-left: 4px;
  }
  #bottomDivTwo > div > span + span {
    color: black;
  }
  #bottomDivTwo > div > img {
    background-color: rgb(231, 228, 228);
    height: 30px;
  }