body{
    margin: 0%;
    padding: 0%;
}
*{
    font-family: sans-serif;
}
#payment-method {
    width: 20%;
    position: fixed;
    left: 100px;
    top: 120px;
    /* margin-top: 100px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  #payment-method > button {
    background-color: transparent;
    border: 0;
    border-bottom: 1px lightgrey solid;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: left;
    padding: 5px 5px 0px 10px;
  }
  #payment-method>#credit{
      border-right: 4px solid #fc0060;
      color: #fc0060;
  }
  #payment-method>#google,#netBanking{
      color: grey ;
  }

  
  #cardDetails{
      width: 50%;
      padding: 10px;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: grey;
      
  }
  #cardDetails>h3{
      margin-top: 5px;
      border-bottom: 1px solid rgb(204, 204, 204);
      padding-bottom: 10px;
  }

  #cardDetails input{
      height: 30px;
      border: 0;
      border-bottom: 1px solid rgb(204, 204, 204);
  }
#container {
display: flex;
width: 65%;
margin: auto;
/* grid-template-columns:50% 45% ; */
margin-left: 390px;
margin-top: 40px;
justify-content: space-evenly;
/* border: 1px solid red; */
}

#cardNumber{
      width: 90%;
  }

  #main{
      display: grid;
      grid-template-columns: 65% 35%;
      margin-bottom: 10px;
      justify-content: space-around;
  }

  #expiry{
      display: flex;  
      align-items: center;
  }

  #expiry>input{
      width: 25%;
  }

  #cvv{
      margin-left: 5px;
  }

  #note{
      display: flex;
      justify-content: space-around;
      align-items: center;
      /* border: 1px solid red; */
      
  }
  #note>p{
      margin-left: 10px;
  }

  #note>img{
      width: 40px;
      height: 40px;
  }

  #note>p{
      text-align: left;
  }

  #main+div{
      display: flex;
      font-size: 18px;
      height: 30px;
      align-items: center;
      margin-bottom: 10px;
  }

  #main+div>button{
      height: 100%;
      width: 30px;
      margin-right: 10px;
  }

  #pay{
      width: 100%;
      height: 50px;
      background-color:#fc2779;
      color: white;
      margin: auto;
      border: 0;
      font-size: 18px;
      padding: 10px;
      
  }
  #navbar{
    display: flex;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(59, 59, 59);
    font-weight: 600;
}
#sections{
    /* border: 1px solid red; */
    display: flex;
    width: 75%;
    /* height: 100%; */
    
}
#sections>div{
    /* border: 1px solid blue; */
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-right: 2px solid #f3f3f3;
}
#image_div{
    width: 35%;
    /* border: 1px solid teal; */
    /* text-align: center; */
    border-right: 2px solid #f3f3f3;

}
#image_div>div>img{
    width: 90%;
    margin-top: 5px;
}
#image_div>div{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    margin-left: 95px;

}
#right{
    /* border: 1px solid teal; */
    width: 40%;

}
#right_top{
    /* width: 100%; */
    /* border: 1px solid blue; */
    background-color: white;
    color: #fea838;
    font-weight: 600;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#right_bottom{
    padding: 15px;
    background-color: rgb(230, 223, 223);
}
#inside_right_bottom{
    background-color: white;
}
#heading{
    margin-top: 0px;
    font-size: 15px;
    color: rgb(158, 157, 157);
}
#imagelowerdiv>div{
    padding: 10px;
}
#receiverdiv,#fromdiv,#quotediv{
    /* border: 1px solid navy; */
    margin-bottom: 15px;
    font-size: 17px;
}
#receiverdiv,#quotediv{
    color: rgb(104, 102, 102);
}
#fromdiv{
    color: #fc0060;
    /* font-size: 18px; */
    /* font-weight: 600; */
}
#paisa{
    color: #fc0060;
    font-weight: 600;
    font-size: 22px;   
    /* border: 1px solid red; */
}
#pindiv{
    text-align: center;
    background-color: rgb(230, 223, 223);
    padding: 5px;
    font-size: 14px;
    color: rgb(104, 102, 102);
}
