*{
    font-family: sans-serif;
}
body{
    background-color: #f3f3f3;
    margin: 0%;
    padding: 0%;
    /* height: 2000px; */

}
#navbar{
    display: flex;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    height: 50px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(59, 59, 59);
    font-weight: 600;
}
#sections{
    /* border: 1px solid red; */
    display: flex;
    width: 75%;
    /* height: 100%; */
    
}
#sections>div{
    /* border: 1px solid blue; */
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-right: 2px solid #f3f3f3;
}
#image_div{
    width: 35%;
    /* border: 1px solid teal; */
    /* text-align: center; */
    border-right: 2px solid #f3f3f3;

}
#image_div>div>img{
    width: 90%;
    margin-top: 5px;
}
#image_div>div{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    margin-left: 95px;

}

/*  navbar css end    ->>  container css start*/

#container{
     display: flex;
     /* border: 1px solid red; */
     width: 85%;
     margin: auto;
     margin-top: 30px;
     justify-content: space-between;
     
}
#container>div{
    /* border: 1px solid green; */
}
#left{
    width: 25%;
    height: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: white;
    color: #fc2779;
    font-weight: 600;  
    border-right: 3px solid #fc2779; 
    position: sticky;
    top: 111px;
}
#middle{
    width: 35%;
    background-color: white;
    padding: 18px;
    padding-top: 0px;
    /* padding-right: 10px; */
}
#insidemiddle>form>div{
    /* border: 1px solid blue; */
    margin-bottom: 30px;
    font-weight: 500;
    /* border-bottom: 1px solid rgb(197, 197, 197); */
}
#insidemiddle>form>div>input{
    border: none;
    /* border-bottom: 1px solid rgb(197, 197, 197); */
    width: 95%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid red; */
}
#insidemiddle>form>div>p{
    color: rgb(59, 59, 59);
    margin-bottom: 0px;
    margin-top: 15px;
    /* font-size: 19px; */
}
#msgboxdiv{
    border-bottom: white;
}
.middledivs{
    border-bottom: 1px solid rgb(197, 197, 197);
}
.chote_akshar_div{
    font-size: 12px;
    color: grey;
}
.bade_akshar_div{
    font-size: 19px;
}
#insidemiddle>form>#confirmationdiv{
    /* border: 1px solid red; */
    margin-top: -20px;
    margin-bottom: 10px;
    /* color: red; */

}
#paisadiv{
    display: flex;
    /* border: 1px solid red; */
    width: 85%;
    justify-content: space-between;
}
#paisadiv>div{
    padding: 10px;
    padding-right: 18px;
    padding-left: 18px;
    border: 1px solid rgb(197, 197, 197);
    color: rgb(109, 105, 105);
}
#insidemiddle>form>#btndiv{
    /* border: 1px solid teal; */
    margin-bottom: 3px;
    margin-top: 20px;
}
button{
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fc2779;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#msgboxdiv{
    /* border: 1px solid red; */
}
#msgbox{
    width: 96.6%;
    height: 100%;
    border: 1px solid rgb(197, 197, 197);
    color: rgb(59, 59, 59);
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
}
#right{
    /* border: 1px solid teal; */
    width: 32%;

}
#right_top{
    /* width: 100%; */
    /* border: 1px solid blue; */
    background-color: white;
    color: #fea838;
    font-weight: 600;
    padding: 15px;
}
#right_bottom{
    padding: 15px;
    background-color: rgb(230, 223, 223);
}
#inside_right_bottom{
    background-color: white;
}
#heading{
    margin-top: 0px;
    font-size: 15px;
    color: rgb(158, 157, 157);
}
#imagelowerdiv>div{
    padding: 10px;
}
#receiverdiv,#fromdiv,#quotediv{
    /* border: 1px solid navy; */
    margin-bottom: 15px;
    font-size: 17px;
}
#receiverdiv,#quotediv{
    color: rgb(104, 102, 102);
}
#fromdiv{
    color: #fc0060;
    /* font-size: 18px; */
    /* font-weight: 600; */
}
#paisa{
    color: #fc0060;
    font-weight: 600;
    font-size: 18px;   
}
#pindiv{
    text-align: center;
    background-color: rgb(230, 223, 223);
    padding: 5px;
    font-size: 14px;
    color: rgb(104, 102, 102);
}

/* container CSS ends */


#TandC{
    /* border: 1px solid red; */
    width: 32%;
    margin: auto;
    margin-left: 428px;

}
#TandC>p{
    margin-bottom: -5px;
}




