#outer_box{
    height: 550px;
    width: 25%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#First_box{
    height: 160px;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
}
#gift{
    height: 150px;
    width: 100%;
    margin: auto;
    border: 1px solid black;
}
#email_box{
    height: 50px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
#email{
    width: 90%;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: #fc2779;
    border-radius: 5px;
    padding: 8px 16px;
}
#google_login{
    display: flex;
    /* border: 1px solid red; */
}
#para{
    font-size: 20px;
    padding: 8px 8px 8px 34px;
}
#policy{
    margin-top: 5px;
    color: grey;
    font-size: 15px;
}