#navbar {
  /* display: flex; */
  width: 100%;
  height: 60px;
  padding: 15px;
  align-items: center;
  /* border: 1px red solid; */
  background-color: white;
  position: fixed;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#navbar > div {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
}
#navbar > div > img {
  /* border: 1px green solid; */
  height: 80%;
  display: block;
  margin-left: 13%;
  margin-right: 100px;
}

#user_details {
  margin: auto;
  display: grid;
  width: 40%;
  height: 100%;
  grid-template-columns: repeat(3, 30%);
  margin-left: -3px;
}

#user_details > div {
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  overflow: hidden;
  height: 100%;
  padding: 3px 3px 3px 3px;
}

#user_details > div > h4 {
  margin-top: -1px;
  margin-bottom: -3px;
}

#user_details > div > p {
  color: gray;
  font-size: 18px;
}

#container {
  display: grid;
  width: 55%;
  margin: auto;
  grid-template-columns:50% 45% ;
  margin-left: 32%;
  margin-top: 120px;
  justify-content: space-around;
}

#addNew {
  width: 18%;
  position: fixed;
  left: 14%;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#addNew > button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px lightgrey solid;
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-align: left;
  padding: 5px;
}

#shippingAddress {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#cartDetails {
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#shippingAddress {
  padding: 10px;
}

#shippingAddress > h3 {
  height: 50px;
  border-bottom: lightgrey 1px solid;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#form > input {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  border: 0;
  font-size: 18px;
  border-bottom: lightgrey 1px solid;
}

#form > .add {
  height: 80px;
  border: 1px lightgrey solid;
}

#submit_add {
  margin-top: 10px;
  background-color: rgb(252, 74, 104);
  color: white;
  font-size: 20px;
}

#form > span {
  display: flex;
  align-items: center;
}

 #checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 1px lightgrey solid;
}

/* #checkbox:hover{
  background-color: green;
} */


.addDiv {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.addDiv > div {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.addDiv > div:first-child > button {
  width: 40px;
  height: 100%;
  font-size: 10px;
}

.addDiv > h4 + div {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin-bottom: +5px;
}

.addDiv > h4 + div > button {
  height: 40px;
  padding: 10px 0px 10px 0px;
}

#totalProducts {
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px lightgray solid;
}

#totalProducts > p {
  font-size: 20px;
  color: orange;
}

#totalProducts > span > button {
  color: rgb(230, 72, 98);
  padding: 5px 10px 5px 5px;
  font-size: 18px;
  margin-right: 5px;
  text-align: center;
  background-color: transparent;
  border: 0px;
}

#cartProducts {
  height: 47%;
  /* border: 1px brown solid; */
  display: grid;
  grid-template-columns: 1, 90%;
  row-gap: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f3f3f3;
  overflow: scroll;
}

.card {
  height: 140px;
  display: flex;
  /* border: 1px darkblue solid; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card > img {
  height: 90%;
  /* width: 30%; */
}

.details {
  padding: 0px 5px 0px 5px;
}

.details > p {
  width: 88%;
  margin-bottom: -5px;
}

.details > .line {
  border: 0.5px lightgrey solid;
  background-color: lightgrey;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.quant_prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 95%;
  margin: auto;
  /* border: 1px violet solid; */
}

.prices {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

#finalPrice {
  height: 50%;
  /* border: 1px brown solid; */
  margin-top: 15px;
}

#finalPrice > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 43px;
  padding: 0px 0px 0px 10px;
  margin-left: 5px;
}

#finalPrice > .gray-line {
  height: 1px;
  background-color: lightgrey;
  /* border: 1px gray solid; */
}

#finalPrice > div:nth-child(2) > p + p {
  color: teal;
}

#finalPrice > div:nth-child(3) {
  color: teal;
}

#finalPrice > div > button {
  color: rgb(231, 60, 88);
  background-color: transparent;
  border: 0px;
}

#finalPrice > div:last-child > p {
  font-weight: bold;
}

#finalPrice > div > div {
  display: flex;
  /* padding: 5px; */
  justify-content: space-between;
  align-items: center;
}

#finalPrice > div > div > button {
  height: 50%;
  background-color: transparent;
  font-size: 23px;
  color: rgb(255, 59, 92);
  border: 0;
}

#ads {
  border: 1px red solid;
  width: 70%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: auto;
  margin-top: 100px;
}

#ads > div > img {
  display: block;
  height: 100%;
  border: 1px brown solid;
}

#ads > div {
  border: 1px green solid;
  display: flex;
}




/* thias media query is for medium screens between 451px to 750px */
@media  all and (min-width:451px) and (max-width:750px){
  
  #navbar {
    height: auto;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  #navbar > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1,1fr;
    grid-template-rows: 1,100px;
    gap: 10px;
    justify-content: space-between;
    margin: auto;
  }

  #navbar > div > img {
    height: 50px;
    display: block; 
  }

  #user_details {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }

  #user_details>div{
    height: 50px;
  }

  #addNew {
    width: 100%;
    position: static;
    margin-top: 170px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  #container {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns:repeat(1,100%);
    grid-template-rows: repeat(2,auto);
    margin: auto;
    margin-top: 20px;
    justify-content: space-around;
  }

  #ads {
    border: 1px red solid;
    width: 100%;
    height: 270px;
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0;
    margin: auto;
    background-color: white;
  }


}


/* thias media query is for small screens between 451px to 750px */
@media  all and (min-width:200px) and (max-width:450px){
  
  #navbar {
    height: auto;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      margin-bottom: 50px;
  }
  #navbar > div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1,1fr;
    grid-template-rows: 1,100px;
    gap: 10px;
    justify-content: space-between;
    margin: auto;
  }

  #navbar > div > img {
    height: 50px;
    display: block; 
  }

  #user_details {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,50px);
    margin: auto;
  }

  #user_details>div{
    height: 50px;
  }

  #addNew {
    width: 100%;
    position: static;
    margin-top: 250px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  #container {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns:repeat(1,100%);
    grid-template-rows: repeat(2,auto);
    margin: auto;
    margin-top: 20px;
    justify-content: space-around;
  }

  #ads {
    border: 1px red solid;
    width: 100%;
    height: 270px;
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0;
    margin: auto;
    background-color: white;
  }


}
