body {
  margin: 0%;
  padding: 0%;
}

/* // sticky nav ----------------------- */
#navbarHome {
  width: 100%;
  margin: 0%;
  margin-top: 0%;
  height: 100px;
  /* position: fixed;
  z-index: 555;
  top: 0px; */
}
/* nav one sticky---------------------- */
#navOne {
  /* height: 50%; */
  background-color: orange;
  background-image: url("https://adn-static1.nykaa.com/media/wysiwyg/2021/nsssd-topstrip-2-5-22a.png");
  background-size: cover;
  /* position: sticky; */
  top: 10px;
}
#navOneTopUpdate a:hover{
  color: white;
}
#navOneIn {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
#navOneTopUpdate{
  align-self: center;
}
#navOneTopUpdate a{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  color: black;
  display: block;
  font-weight: bold;
}
#navTwoTopUpdate {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}
#navTwoTopUpdate>div{
  display: flex;
  justify-content: right;
  /* background-color: aqua; */
}

#navTwoTopUpdate img  {
  display: block;
  /* width: 50%; */
  height: 50%;
}
#navTwoTopUpdate a  {
  display: block;
  /* width: 50%; */
  color: black;
  height: 50%;
  text-decoration: none;
}
#navTwoTopUpdate >:nth-child(n) {
  height: 70%;
  width: auto;
  width: 70%;
}
#navTwoTopUpdate>div>img{
  /* width: 50%; */
  height: 50%;
}

/* nav one sticky---------------------- */

/* nav two sticky---------------------- */
#navTwo {
  height: 50%;
  width: 100%;
  background-color: white;
  /* border: 1px; */
  /* border: 5px solid red; */
}
#navTwoIn {
  height: 100%;
  width: 70%;
  background-color: white;
  border: 8px solid white;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navTwoIn > :nth-child(n) {
  height: 50%;
  /* width: 7%; */
  background-color: white;
}
#navTwoIn > :nth-child(1) {
  height: 80%;
  width: 7%;
  background-color: white;
}
#navTwoIn > :nth-child(7) {
  width: 18%;
}
#navTwoIn > :nth-child(9) {
  width: 4%;
}
#searchEngineNav img {
  height: 60%;
}
#navTwoIn a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
#searchEngineNav {
  display: flex;
  align-items: center;
  border: 2px solid white;
  background-color: rgb(58, 57, 57);
  padding: 2px;
  padding-left: 0px;
}

#searchEngineNav input {
  padding: 2% 6% 2% 1%;
  display: block;
  border: none;
  outline: none;
}

#userAccount img {
  height: 100%;
}
#userAccount {
  display: flex;
  align-items: center;
}
#userAccount > a {
  border: 7px solid white;
  font-size: 1.1rem;
  font-weight: normal;
}
#shoppingCart{
  align-items: center;
  position: relative;
}
#shoppingCart img{
  width: 60%;
}
#cartCount{
  position: absolute;
  top: 0%;
  right: 30%;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 1% 12%;
  border-radius: 100%;
}

/* nav two sticky---------------------- */
/* // sticky nav end----------------------- */

/* navThird ------------------------------ */
#navThreeHide {
  background-color: white;
}
#navThreeHideIn {
  height: 100%;
  width: 60%;
  margin: auto;
  border: 25px solid white;
  /* border-top: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  z-index: -5;
}
#regularNavThree {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 80%;
  height: 30%;
  /* position: relative; */
}
/* #regularNavThree > :nth-child(n) {
  height: 100%;
  width: 7.5%;
  background-color: white;
} */

#saleNavThree {
  height: 30%;
  width: 8%;
  background-color: white;
}
#saleNavThree > div {
  width: 90%;
  margin: auto;
  height: 100%;
  background-color: white;
}
/* navThird ------------------------------ */
