
div{
  font-style: normal;
}

/* black nav  */
#blackNav{
  background-color: black;
}
#blackNav img{
  height: 30px;
}
.imageDiv img{
  background-color: white;
  border-radius: 102%;
}
#blackNavIn span{
  color:white;
  background-color: black;
}
#blackNavIn{
  /* background-color: black; */
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#blackNavIn>div{
  display: flex;
  align-items: center;
}
/* // grey ---------------------- */
#greyNav {
  background-color: #8c8d94;
  border: 10px solid #8c8d94;
}

#blackNavIn div{
  border: 10px solid black;
}

/* #blackNavIn>div>div{
  display: flex;
} */
#greyNavIn {
  display: grid;
  height: 90%;
  padding: 1%;
  width: 55%;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

#greyNavIn > :nth-child(n) {
  height: 100%;
  border: 2px solid #8c8d94;
}
.boxBottomGreyIn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boxBottomGreyIn > span {
  display: block;
  font-size: 1rem;
  margin-bottom: 5%;
}
#greyNavIn > :first-child span {
  font-size: 1.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-style: oblique;
}
.boxBottomGreyIn div {
  padding: 1%;
  font-size: 0.9rem;
}

/* white ---------------------- */

#whiteNavIn {
  display: flex;
  width: 60%;
  margin: auto;
  height: 90%;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
  /* background-color: bisque; */
}
#whiteNavIn > :nth-child(n) {
  height: 80%;
  /* width: 18%; */
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#whiteNavIn>:last-child{
  flex-direction: column;
}
#whiteNavIn img {
  height: 70%;
}
#whiteNavIn > div > :nth-child(2) {
  padding: 2%;
}
#whiteNavIn > div > :nth-child(2) > :nth-child(2) {
  border: 0.5px solid rgb(230, 227, 227);
  margin-top: 4px;
}
#whiteNavIn > div > :nth-child(2) > :nth-child(n) {
  width: 90%;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}
#whiteNavIn > div > :nth-child(2) > :nth-child(3) {
  color: grey;
  font-size: 1rem;
}
#whiteNavIn > :last-child img {
  height: 4%;
}
#whiteNavIn > :last-child > :last-child {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 15%;
}
#whiteNavIn > :last-child > :last-child> div{
  border: none;
}
#whiteNavIn > :last-child > :first-child {
  display: block;
  width: 90%;
  text-align: center;
}

/* pink ------------------------------ */
#pinkNav {
  height: 70px;
  background-color: #fc2779;
}
#pinkNavIn {
  height: 100%;
  width: 80%;
  background-color: #fc2779;
  margin: auto;
  border: 8px solid #fc2779;
}
#pinkNavIn > :first-child {
  width: 40%;
  margin: auto;
  height: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
#pinkNavIn a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#pinkNavIn > :first-child > :nth-child(n) {
  width: 23%;
  /* background-color: black; */
}

#pinkNavIn > :last-child {
  width: 23%;
  margin: auto;
  /* background-color: black; */
}

#endBlack {
  height: 30px;
  background-color: black;
}
